# .aliases

alias rm='rm -i' # safety first
alias lock="/System/Library/CoreServices/Menu\ Extras/User.menu/Contents/Resources/CGSession -suspend" # lock mac
alias lsd='ls -l | grep "^d"'
alias cleanup="find . -name '*.DS_Store' -type f -ls -delete" # clean recursively all .DS_Store files
alias historyc='rm ~/.zsh_history' # Zsh shell history clean
alias zshedit='$EDITOR ~/.zshrc' # Edit .zshrc config file
alias cp='cp -iv' # Preferred 'cp' implementation
alias mv='mv -iv' # Preferred 'mv' implementation
alias mkdir='mkdir -pv' # Preferred 'mkdir' implementation
alias ll='ls' # Preferred 'ls' implementation
alias ..='cd ../' # Go back 1 directory level
alias ...='cd ../../' # Go back 2 directory levels
alias edit='$EDITOR' # Opens any file in sublime editor
alias f='open -a Finder ./' # Opens current directory in MacOS Finder
alias ~="cd ~" # Go Home
alias c='clear' # Clear terminal display
alias apacheEdit='sudo $EDITOR /etc/httpd/httpd.conf' # Edit httpd.conf
alias apacheRestart='sudo apachectl graceful' # Restart Apache
alias editHosts='sudo $EDITOR /etc/hosts' # Edit /etc/hosts file
alias apacheLogs="less +F /var/log/apache2/error_log" # Shows apache error logs
alias myip='curl ip.appspot.com' # Public facing IP Address
alias flushDNS='dscacheutil -flushcache' # Flush out the DNS Cache
alias openPorts='sudo lsof -i | grep LISTEN' # All listening connections
alias lr='ls -R | grep ":$" | sed -e '\''s/:$//'\'' -e '\''s/[^-][^\/]*\//--/g'\'' -e '\''s/^/   /'\'' -e '\''s/-/|/'\'' | less'
alias numFiles='echo $(ls -1 | wc -l)' # Count of non-hidden files in current dir
