# .exports

# Path to your oh-my-zsh installation.
export ZSH=$HOME/.oh-my-zsh

# Code as default editor.
export EDITOR='code'

# Language
export LC_ALL=en_US.UTF-8
export LANG=en_US.UTF-8

# Volta
export VOLTA_HOME="$HOME/.volta"
export PATH="$VOLTA_HOME/bin:$PATH"
