{{- if eq .chezmoi.os "darwin" -}}
#!/bin/bash
set -eufo pipefail

brew bundle --file=/dev/stdin <<EOF
tap "timrogers/tap"
brew "starship"
brew "git"
brew "tree"
brew "jq"
brew "gh"
brew "bat"
brew "git-delta"
brew "lazygit"
brew "eza"
brew "fnm"
brew "litra-autotoggle"
brew "litra"
brew "httpie"
brew "age"
{{- if eq .profile "work" }}
{{ join .chezmoi.sourceDir ".work-brew-packages.age" | include | decrypt }}
{{- end }}
cask "visual-studio-code"
cask "ghostty"
cask "rectangle"
cask "raycast"
cask "slack"
cask "zed"
cask "elgato-camera-hub"
cask "monitorcontrol"
cask "httpie"
EOF
{{ end -}}
