{{- if eq .chezmoi.os "darwin" -}}
#!/bin/bash
set -eufo pipefail

brew bundle --file=/dev/stdin <<EOF
tap "timrogers/tap"
brew "starship"
brew "git"
brew "tree"
brew "jq"
brew "gh"
brew "bat"
brew "git-delta"
brew "lazygit"
brew "eza"
brew "fnm"
brew "litra-autotoggle"
brew "litra"
brew "httpie"
brew "age"
brew "tlrc"
brew "zoxide"
brew "fzf"
brew "zsh-autosuggestions"
brew "zsh-history-substring-search"
{{- if eq .profile "work" }}
{{ join .chezmoi.sourceDir ".work-brew-packages.age" | include | decrypt }}
{{- end }}
cask "google-chrome"
cask "visual-studio-code"
cask "ghostty@tip"
cask "rectangle"
cask "raycast"
cask "slack"
cask "elgato-camera-hub"
cask "monitorcontrol"
cask "httpie"
{{- if eq .profile "personal" }}
cask "zed"
brew "tw93/tap/mole"
{{- end }}
EOF
{{ end -}}
