# FNM
eval "$(fnm env --use-on-cd)"

# Zoxide
eval "$(zoxide init zsh)"

# fzf
eval "$(fzf --zsh)"

{{- if eq .profile "work" }}
# rbenv
eval "$(rbenv init - zsh)"
{{ end }}
# History
HISTFILE=~/.zsh_history
SAVEHIST=2000
HISTSIZE=1999
HISTDUP=erase
setopt appendhistory
setopt share_history
setopt incappendhistory
setopt hist_ignore_all_dups
setopt hist_save_no_dups
setopt hist_ignore_dups
setopt hist_find_no_dups 
setopt hist_verify

bindkey '^[[A' history-search-backward
bindkey '^[[B' history-search-forward
